@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&family=Montserrat:wght@200;300;400;500&display=swap');

@layer base {
   body {
      font-family: 'Montserrat', sans-serif;
   }
   
   h1 {
      font-family: 'Jost', sans-serif;
   }

   button {
      @apply focus:outline-none;
   }

   .subMenuActive {
      @apply border-b border-yellow-600;
   }

   .arrow-down {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #F9FAFB;
   }

   .arrow-up {
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      
      border-bottom: 6px solid #F9FAFB;
    }
}